h1 {
    color: yellow;
    background-color: green;
    width: 250px;
    height: 250px
}

/* p {
    color: purple;
    background-color: black;

} */

.one {
    color: blue;
    background-color: yellow;
    width: 250px;
    height: 250px;
}

.two {
    color: blue;
    background-color: aqua;
    width: 250px;
    height: 250px;
}

#three {
    color:yellow;
    background-color: aqua;
    width: 250px;
    height: 250px;
}

